---
import SocialIcons from "../components/SocialIcons.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="home dk-a-dev">
  <div class="name">Dev Keshwani
    <SocialIcons />
  </div>
  <style>
    .name {
      /* text-align: center;
      justify-items: left; */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: whitesmoke;
      font-size: 3rem;
      font-weight: bold;
      z-index: 2;
    }
  </style>
</BaseLayout>
